<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	
  <xacro:property name="l00" value="robot_arm_base_link" />
  <xacro:property name="l01" value="robot_arm_turning_mount" />
  <xacro:property name="l02" value="robot_arm_link2" />
  <xacro:property name="l03" value="robot_arm_link3" />
  
</robot>
